<header>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>What are you in the mood for today ?</h1>
                        <input type="text" class="form-control styled-search" placeholder="Type here ..." id="search" ng-model="nlpSearch" ng-keyup="$event.keyCode == 13 ? search() : null" aria-invalid="false">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
